# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/

# Data and artifacts
data/
checkpoints/
logs/
*.pth
*.pt

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store
streamlit_logs/
streamlit.logs
streamlit.log

# Environment variables and secrets
.env
.streamlit/secrets.toml
